#game-window {
    background-image: radial-gradient(var(--color3), black);
}

#game-assets {display: none;}

#fullscreen-button {
    position: relative;

    right: 32px;
    bottom: 10px;

    z-index: 10;
    cursor: pointer;
}

#fullscreen-button:hover,
#fullscreen-button:active {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px rgba(255,255,255,.5));
}